/* ================= GOOGLE FONTS ================= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;1,400&family=Montserrat:ital,wght@0,400;0,600;1,400;1,500&display=swap");

/* ================= COMPONENTS =================*/
@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/avatar.css");
@import url("components/list.css");
@import url("components/footer.css");
/* ================= MEDIA QUERIES ================ */
@import url("components/media.css");

/* COLOR SCHEME */
/* https://colorhunt.co/palette/e7e0c9c1cfc06b7aa111324d older color scheme */
/* https://colorhunt.co/palette/334257476072548ca8eeeeee new color scheme, blue*/
/* https://colorhunt.co/palette/f7f7e8c7cfb79dad7f557174 new color scheme, green*/

/* ================= PRIMARY ================= */
body {
  margin: 0 auto;
  background-color: #f7f7e8;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #557174;
  font-size: 16px;
  line-height: 16px;
}

h1,
h2 {
  font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}
