/* ================= GOOGLE FONTS ================= */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* ================= COMPONENTS =================*/
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/button.css");
@import url("components/avatar.css");

/* COLOR SCHEME */
/* https://colorhunt.co/palette/e7e0c9c1cfc06b7aa111324d */

/* ================= PRIMARY ================= */
body {
  margin: 0 auto;
  background-color: #e7e0c9;
  font-family: "Montserrat", sans-serif;
  color: #11324d;
  font-size: 16px;
  line-height: 8px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}
