@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap");
@import url("css/components/card.css");

body {
  background-color: #dde5b6;
  font-family: "Roboto", sans-serif;
  color: #6c584c;
  font-size: 16px;
  line-height: 8px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.introduction {
  height: 90px;
}

/* First card */
.btn-blue {
  text-decoration: none;
  font-weight: 600;
  color: white;
  background-color: #adc178;
  padding: 12px 24px;
  border-radius: 8px;
}

.btn-blue:hover {
  background-color: #4e3221;
}

.img-circle {
  border-radius: 50%;
}

/* Second card */
ul {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

li a {
  font-size: 32px;
  color: #a98467;
  text-decoration: none;
  padding: 0 20px;
}

li a:hover {
  color: #4e3221;
}

#profile-picture {
  width: 100px;
  height: 100px;
  margin: 20px 0px;
}
