.btn-purple {
  text-decoration: none;
  font-weight: 600;
  color: #fec260;
  background-color: #a12568;
  padding: 12px 24px;
  border-radius: 8px;
}

.btn-purple:hover {
  color: #a12568;
  background-color: #fec260;
  transition: 300ms ease;
}
