.profile.btn-blue {
  text-decoration: none;
  font-weight: 600;
  color: #f7f7e8;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #a2b29f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile.btn-blue:hover {
  background-color: #798777;
  transition: 300ms ease;
}
