.btn-purple {
  text-decoration: none;
  font-weight: 600;
  color: #11324d;
  padding: 12px 24px;
  border-radius: 8px;
}

.btn-purple:hover {
  color: #e7e0c9;
  background-color: #11324d;
  transition: 300ms ease;
}
