.resume {
  margin-top: 26px;
}

.resume > h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 24px;
  border-bottom: 3px solid #c7cfb7;
}

.resume > h2:hover {
  border-bottom: 3px solid #798777;
  transition: 500ms;
}

.resume .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.resume .card {
  width: 300px;
  padding: 24px 40px;
  margin: 30px;
  color: #f7f7e8;
  background-color: #a2b29f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  line-height: 24px;
}

.resume h4 {
  font-size: 18px;
}

.resume .card:hover {
  /* padding: 60px;
  margin: 10px; */
  background-color: #798777;
  transition: 500ms;
}
