.resume {
  margin-top: 100px;
}

.resume > h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 24px;
  margin-bottom: 40px;
  border-bottom: 2px solid #11324d;
}

.resume .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

.resume .card {
  width: 300px;
  padding: 40px;
  border: 2px solid #11324d;
  border-radius: 12px;
  margin: 30px;
}

.resume .card p {
  line-height: 24px;
}
