.nav {
  background-color: #f7f7e8;
  height: 72px;
  padding: 0 20px;
  margin: 0 auto;
  /* border-bottom: 2px solid #dfd6b9; */
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-left: 10px;
  width: 320px;
  display: flex;
  justify-content: space-around;
}

.nav-links a,
.nav-actions a {
  color: #9dad7f;
  text-decoration: none;
}

.nav-links a:hover,
.btn-sns a:hover {
  color: #557174;
}

.nav-actions {
  font-size: 24px;
  width: 200px;
}

.nav-actions ul {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.nav-actions .btn-sns {
  /* padding: 0 10px; */
  list-style-type: none;
}
