.nav {
  background-color: #e7e0c9;
  height: 72px;
  padding: 0 20px;
  margin: 0 auto;
  /* border-bottom: 2px solid #dfd6b9; */
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  padding-left: 10px;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.nav-links a,
.nav-actions a {
  color: #11324d;
  text-decoration: none;
}

.nav-links a:hover,
.btn-sns a:hover {
  color: #07233a;
}

.nav-actions {
  font-size: 24px;
  width: 200px;
}

.nav-actions ul {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.nav-actions .btn-sns {
  /* padding: 0 10px; */
  list-style-type: none;
}
